{% extends 'base.html.twig' %}
{% block body %}
<h1> Contact porfolio</h1>
<h3>{{ contact.name }}</h3>
<h3>{{ contact.email }}</h3>
<h3>{{ contact.phoneNumber }}</h3>

<p>Hi {{ contact.message}}! You're successfully registered.</p>
{% endblock %}

